@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&display=swap');

footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  color: #7f8c8d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.75rem;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

section {
  padding: 2rem 10rem;
}

p {
  font-size: 1.25rem;
}

#dataset-preview-root {
  height: 25rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

table th {
  padding-right: 1rem;
}

tbody>tr:nth-child(odd) {
  background-color: #ecf0f1;
}

tbody>tr:nth-child(even) {
  background-color: #bdc3c7;
}

tbody>tr:hover {
  background-color: #95a5a6;
}

#console {
  height: 25rem;
  overflow: scroll;
}

.line-container {
  display: flex;
  padding: 0.25rem 0.5rem
}

.line-container:nth-child(odd) {
  background-color: #ecf0f1;
}

.line-container:hover {
  text-decoration: underline;
}

.log-timestamp {
  width: 10rem;
}

.info-log {
  color: #27ae60;
}

.warning-log {
  color: #e1b12c;
}

.error-log {
  color: #c0392b;
}

.button {
  border: none;
  width: 15rem;
  background-color: #bdc3c7;
  font-size: 1.25rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
}

.button:hover {
  cursor: pointer;
  background-color: #95a5a6;
}

.action-time {
  margin-left: 1rem;
  font-size: 1.25rem;
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}
